.loginPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    margin: 20px;
    max-width: 450px;
    width: 100%;
}

.buttonContainer {
    display: flex;
    flex-direction: column;

    > div {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
