.coinsBuyContainer {
    display: flex;
    flex-direction: column;

    > div {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.input {
    color: red;
}


.root {
  flexGrow: 1;
  backgroundColor: white;
};
