// TODO: не лучшее решение c !important, но почему-то стиль AppBar position="fixed" перекрывал данный стиль
// из-за этого панель не приклеивалась снизу, а растягивалась на весь экран
// не нашёл как это исправить кроме как через !important
// Правильно работало через const useStyles = makeStyles((theme: Theme) => createStyles({
// Но тогда стили начинают находиться в разных местах, а это плохо
.appBar {
  top: auto !important;
  bottom: 0;
}

.toolbarContainer {
  display: flex;
  justify-content: space-between;
}
